/*body {
    font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
    margin: 5px;
}*/

html,
body,
#map-canvas {
    position:fixed;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 50;
}

#map-satellite {
    width: 80px;
    height: 80px;
    margin: 0px;
    margin-bottom: -30px;
    border: thin solid;
    border-color: white;
}






 .panel-body .gmarkers {
    margin: 0 0 0 10px;
    font-family: roboto;
}


 .panel-body {
    border-top: 0;
    padding: 10px 15px;
     border-top-color: #000 !important;
     font-size:17px;
     color: #333333 !important
}

.panel-body:hover {
    background: #4F4F2F!important;
    color: #fff !important
}





.mp-menu {
    margin-top: 60px;
    transition: left 1s;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
}

.mp-menu ul li > a {
    width: 90%;
}

.mp-menu ul li > a::before {
    float: right;
}

.mp-menu h2 {
    width: 100%;
}

.mp-menu h2 i {
    margin-right: 5%;
}
.remove_shadow_mp-menu:hover {background: #fff !important;}

input[type="checkbox"],
input[type="radio"] {
    margin: 4px 8px 0 0;
}
.width100 {
    width: 100%;
}

.width90 {
    width: 90%;
}










.gm-style {font-family: citrixsans-regular, Helvetica, sans-serif !important;}



.gm-fullscreen-control {display: none;/*remove  fulscreen icon on google map  street view*/}
/*.gm-style > div:nth-child(10){display:none;} same as above*/
.gm-svpc {/* style the yellow pegman street view*/
  background:#F8F8FF !important; 
  display:block ;    
  border: 1px solid black; 
  margin-top:-80px;margin-left:-12px;padding:17px !important;
  border-radius: 25px !important;
}
.gm-svpc:hover{background:#8DB600 !important;}
.zoom-mylocation2 {position:absolute; margin-left:-40px !important; margin-top:50px !important;}
.zoom-mylocation {display:none;}
.zoom-mylocation a{ text-align: center;float: left; width: 36px;height: 36px;border: 1px solid black; background:#F8F8FF; border-radius: 100%;margin-right: 7px; /*space between*/

} 
.zoom-mylocation a i{font-size: 30px;line-height: 34px;color: #292421;}

.zoom-mylocation  a :hover{color: #8DB600;}
.mobileCompressZoom{display:block };


/* mobile layout compreess zoom in/out & share location into 1  button*/
/*@media (max-width: 768px) {
    .menu-mainNav{ display:none}
    .mobileCompressZoom{ display:none }
    .gm-svpc { display:none }
    #map-satellite { display:none}
    .return-to-top{ display:none !important}
}*/


.isInterExplorerr{right:100px !important;}

/*#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
  }*/


/*#pac-input:focus {
    border-color: #4d90fe;
  }*/


/*.pac-container {
    font-family: Roboto;
  }*/


/*


*/

.controls {
    padding: 6px;
    z-index: 105;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 50% outline: none;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}




.ccccc {
    margin-left: 1px;
    padding-top: 20px;padding-bottom: 20px;
    border-bottom: 1px solid #80804c;
}




/* large desktop layout: 1280px. */

@media only screen and (min-width:1200px) and (max-width: 50000px) {}


/* medium desktop layout: 1280px. */

@media only screen and (min-width:792px) and (max-width: 1200px) {}


/* tablet layout: 768px */

@media only screen and (min-width: 769px) and (max-width: 991px) {}



/*mobile layout: 320px */



.subfold_who { padding: 20px 100px 12px 2px }

.subfold_where{padding: 20px 110px 12px 2px;}

.subfold_active {padding: 20px  35px 12px 2px;}

.subfold_give {padding: 20px 45px 12px 2px;}


.subfold-login {padding: 30px 160px 30px 2px;}
.subfold-logout {padding: 30px 147px 30px 2px;}

.subfold-showup {color: white; padding: 35px 45px 57px 5px;}
.mypages{padding: 10px 125px 10px 20px;margin-left:0px !important;}
.addfunds{padding: 30px 155px 30px 20px;margin-left:0px !important;}
.reservation{padding: 30px 120px 30px 20px;margin-left:0px !important;}
.account-history{padding: 30px 160px 30px 20px;margin-left:0px !important;}

/*.subfold-fb {   margin-left:-50px !important; padding: 30px 40px 30px 70px !important}
.subfold-eb {   margin-left:-50px !important; padding: 30px 32px 30px 70px;}
.subfold-meetup{margin-left:-50px !important; padding: 30px 68px 30px 70px;}
.subfold-yelp { margin-left:-50px !important; padding: 30px 112px 30px 70px;}*/


.rightMargin35 {
    margin-right: 35px
}

.topMargin15 {
    margin-top: 15px
}

.fontSize20 {
    color: black;
    font-size: 20px
}



body > .container-fluid:first-child {
    height: auto !important;z-index:99 !important;
}
/*.left_side { width: 30%; }*/

span.mainlistz {
    max-height: 1200px;
    display: block;
    overflow: auto;
}

span.mainlistz li:last-child a {
    margin: 0 auto;
    padding-right: 0;
}

img.sidebar_logo {
    max-width: 90px;
}

* {
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color: #7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: #568203;
}


/*
*::-webkit-scrollbar {
width: 10px;
background: blue;
}
*::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
*::-webkit-scrollbar-thumb {
background-color: #568203;
outline: 1px solid red;
}
*/


/* tablet layout: 768px */


/*@media only screen and (max-width: 768px) {.left_side a:last-child { display: none; }}*/

.mnavaa {} /*max-height: 70% !important;*/

.mnavaa {
    overflow: hidden !important;
    /*Also...*/
    z-index: 9999;
    height: calc(100% - 90px);
    width: 100%;
    /*max-height: 100%;*/
    /*The important part*/
    overflow-y: auto;
    /*Also...*/
    overflow-x: visible;
    /*And the end of the important part*/
    /*margin: 0px;*/
    /*border: 0px solid #ddd;*/
    background:#fff !important;   
}
.mnavaa:hover {overflow-y: auto !important;}

.menu-shadow{margin-left:-5px;
    background:#fff !important;
    -webkit-box-shadow: -5px 0 5px -5px black, 5px 0 5px -5px black !important;
   -moz-box-shadow:-5px 0 5px -5px black, 5px 0 5px -5px black !important;
  box-shadow:-5px 0 5px -5px black, 5px 0 5px -5px black !important;
}


#addressContainer {float: left; margin: 20px; width: auto; }
span#address {color: #ffffff; font-weight: 500;}
.panel-body {font-size: 16px; padding: 5px; }
#eventtag .panel-body {border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);}
.panel-body {border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);}

#findCat-np {width: 200px; margin-right: 65px;}
#findCat-np:hover {width: 265px;}
.cn-menu h2 {width: 95%;}

#categories-lvl2 li {}

#categories-lvl2 li a {font-size: 16px;}
#categories-lvl2 > li > label {
    position: absolute;
    right: 25px;
    top: 10px;
    display: none;
}

#categories-lvl2 li .mp-level .mnavaa h2 {
    padding-left: 0.1em;
    width: 100%;
    word-wrap: break-word;
}

#categories-lvl2 li .mp-level .mnavaa h2 i {position: absolute;}

#categories-lvl2 li .mp-level .mnavaa ul .panel-body i {display: none;}

.pac-input {border: 2px solid #878681;}


#radius-input {position: absolute; width: 300px; height:40px; top:-2px !important; right: -2px; z-index: 10;padding-top:4px;background: #568203; display:none;}
#radiusValue {width: 147px;height:30px;}

#region-suburb1 {
    z-index: 39;
    width: 120px;
    position: absolute;
    left: 245px !important;
    top: 70px !important;
    /*80px !important; */
    border: 2px solid #878681;
}

#close-radius {
    z-index: 39;
    width: 180px;
    position: absolute;
    left: 310px !important;
    top: 105px !important;
    border: 2px solid #878681;
}


#region-suburb1 { display:none;visibility:hidden;} 
/*#radius-input {top:62px !important; right: 25px;}*/
}






span#postNextEvent {left: 200px;}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.container-search {
    overflow: hidden;
    width: 100%px;
    vertical-align: middle;
    white-space: nowrap;
}


/*Below the input doesn’t have the transition because it’s not the element being affected this time around.*/

.container-search input#search {
    width: 100%;
    height: 40px;
    background: #414F12;
    /*#244b74;*/
    border: none;
    font-size: 12pt;
    float: left;
    padding-left: 15px;
    padding-right: 50px;
}


/*The snippet to recolor the placeholders*/

.container-search input#search::-webkit-input-placeholder {color: #FFA; }
.container-search input#search:-moz-placeholder {color: #FFA;} /* Firefox 18- */
.container-search input#search::-moz-placeholder {color: #FFA; } /* Firefox 19+ */
.container-search input#search:-ms-input-placeholder { color: #FFA; }


/*the code to style the button that appears on hover.*/

.container-search i.icona {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: #568203;
    height: 40px;
    width: 50px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}


/*Adding the Hover Effects*/
.container-search:hover i.icona, .container-search:active i.icona, .container-search:focus i.icona {outline: none; opacity: 1; margin-left: -50px; cursor: pointer; }
.container-search:hover i.icona:hover { background: #003300; }

input[type="checkbox"] {display: none;}
input[type="checkbox"], input[type="radio"] {vertical-align: middle; }
input[type="checkbox"] + label, input[type="radio"] + label {  cursor: pointer; }
input[type="checkbox"] + label:before, input[type="radio"] + label:before {content: ""; display: inline-block; height: 19px; margin: 1px 4px 0 -22px; vertical-align: middle; width: 19px; }
input[type="checkbox"] + label:before {background: url(http://d3pr5r64n04s3o.cloudfront.net/tuts/391_checkboxes/check_radio_sheet.png)left top no-repeat;}
input[type="checkbox"]:checked + label:before {background: url(http://d3pr5r64n04s3o.cloudfront.net/tuts/391_checkboxes/check_radio_sheet.png)-19px top no-repeat;}
input[type="radio"] + label:before {background: url(http://d3pr5r64n04s3o.cloudfront.net/tuts/391_checkboxes/check_radio_sheet.png)-38px top no-repeat; }
input[type="radio"]:checked + label:before {background: url(http://d3pr5r64n04s3o.cloudfront.net/tuts/391_checkboxes/check_radio_sheet.png)-57px top no-repeat;}


/*
#sevicesGrid-mp-content div:not(.mplevel);
.mplevel div:not(.input-group);
*/

.adjMenuWidth {
    width: 100%;
    padding-left: -9px;
    margin-left: 4px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 100px;
}

.routeSearch {
    z-index: 9999;
    background: #336CA6;
    position: absolute;
    padding: 35px;
    padding-left: 31px;
    height: 1000px;
    -webkit-box-shadow: 3px 6px 5px 0px rgba(46, 97, 149, 1);
    -moz-box-shadow: 3px 6px 5px 0px rgba(46, 97, 149, 1);
    box-shadow: 3px 6px 5px 0px rgba(46, 97, 149, 1);
}

.fa.fa-search.routeSearch2 {margin-top: -45px;}
.find-route{}
.nav-tabs {display: inline;}
.btn-toolbar {margin-bottom: 10px;}
.clickedButton-color {background-color: #355427;}
.hoverColor:hover {color: #355427 !important;}

.bt25 {
    background-color: white;
    border: 2px solid #878681;
    padding-top: 3px;
    color: white;
    content: "";
    cursor: pointer;
    font-family: FontAwesome;
    height: 32px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    z-index: 1000;
    background-color: #568203;
    width: 65px;
}


/*start styled by kevin*/
.btn-active { padding: 10px !important; width: 53px !important; background: #336ca6; color: #000;}
.btn-inactive {padding: 10px !important; width: 53px !important; background: #568203; color: #000; }
.btn-route { padding: 10px !important; height: 40px !important; width: 48px !important; border-top-left-radius: 0px; border-top-right-radius: 0px; background: #fff; color: #568203; border-color: #568203; }
.btn-route:hover {background-color: #e0e0e0; }

.rotate_90deg { padding: 5px; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); color: black; }
.route-input1 {height: 35px !important; width: 212px !important; margin-left: -48px !important; padding-left: 60px; padding-right: 10px; padding-bottom: 4px; background: #fff; }
.route-input2 { height: 35px !important; width: 212px !important; margin-left: -48px !important; padding-left: 40px; padding-right: 10px; padding-bottom: 4px; background: #fff; }
.fromTo {height: 35px !important; width: 10px !important; margin-left: -1px !important; padding-left: 10px; padding-right: 10px; padding-bottom: 4px;}

.btn-Tmargin-40 {margin-top: -40px !important;}
.btn-Tmargin-40 {margin-top: -40px !important;}
.btn-Tmargin5 {margin-top: -5px !important;}
.btn-Tmargin-40 {margin-top: -40px !important;}
.btn-Tmargin50 {margin-top: 0px !important;}
.btn-Tmargin55 {margin-top: -55px !important;}
.btn-Lmargin0 {margin-left: 0px !important;}
.btn-Lmargin55 {margin-left: 55px !important;}
.btn-Lmargin110 {margin-left: 110px !important;}
.btn-Lmargin165 {margin-left: 165px !important;}
.btn-Lmargin220 {margin-left: 220px !important;}
.btn-shine {border-color: #336ca6;}
.leftMargin4 {margin-left: 4px !important;}
.leftMargin52 {margin-left: 52px !important;}
.leftMargin100 {margin-left: 100px !important;}
.leftMargin148 {margin-left: 148px !important;}
.leftMargin196 {margin-left: 196px !important;}
.leftMargin-20 {margin-left: -20px !important;}
.topMargin-165 {margin-top: -165px;}
.topMargin-130 {margin-top: -130px;}
.topMargin-95 {margin-top: -95px;}
.topMargin-75 {margin-top: -75px;}
.topMargin-70 {margin-top: -70px;}
.topMargin-60 {margin-top: -60px;}
.topMargin-20 {margin-top: -20px;}
.topMargin-53 {margin-top: -27px}
.topMargin-2 {margin-top: -2px;}
.topMargin10 {margin-top: 10px !important;}
.topMargin30 {margin-top: 30px !important;}
.topMargin8 {margin-top: 8px !important;}
.rightMargin-17 {margin-right: -17px}
.floatRight {float: right;}
.floatLeft {float: left;}
.leftMargin-42 {margin-left: -42px; }
.leftMargin-2 {margin-left: -2px; }
.leftMargin-5 {margin-left: -5px;}
.leftMargin4 { margin-left: 4px; }
.leftMargin20 {margin-left: 20px}
.leftMargin52 {margin-left: 52px}
.white-icon {color: #fff; float: right;}
.hideflow {overflow: hidden !important; }
.hidexflow {overflow: hidden !important;}
.hideyflow {overflow: hidden !important;}
.fixedpos1 {position: fixed !important;}
.z-index2 {z-index: 2;}


.fontSize18 {font-size: 18px !important;}
.white-backG {background: #fff}
.gray-color {color: #333333 !important}

.postEvent-popup {float: left; margin-top: -10px; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 11px; background-color: #568203; color: #FFF; font-size: 25px; }
.post2Event_popup{ float: center; position: fixed; background-color: #FFF; border: 2px solid #568203; border-radius: 3px; background-position: left -3px top -3px; width: 280px; height: 50px; z-index: 9; padding-top: 10px; padding-bottom: 10px; font-size: 25px; }


/*@media (max-width: 680px) {.post2Event_popup{left:15%;}}
@media (max-width: 400px) {.post2Event_popup{left:5%;}}*/


/*end styled by kevin*/

