

#map-satellite { width: 80px; height: 80px; margin: 0px; margin-bottom: -30px; border: thin solid; border-color: white; }
.panel-body .gmarkers { margin: 0 0 0 10px; font-family: roboto; }
.panel-body { border-top: 0; border-top-color: #000 !important; font-size:17px; color: #333333 !important }
.panel-body:hover { background: #4F4F2F!important; color: #fff !important }

input[type="checkbox"], input[type="radio"] {margin: 4px 8px 0 0;}

.gm-style {font-family: citrixsans-regular, Helvetica, sans-serif !important;}
.gm-fullscreen-control {display: none;/*remove  fulscreen icon on google map  street view*/}
/*.gm-style > div:nth-child(10){display:none;} same as above*/
.gm-svpc {/* style the yellow pegman street view*/
  background:#F8F8FF !important; display:none ;   border: 1px solid black; 
  margin-top:-80px;margin-left:-12px;padding:17px !important; border-radius: 25px !important;
}
.gm-svpc:hover{background:#8DB600 !important;}
.zoom-mylocation2 {position:absolute; margin-left:-40px !important; margin-top:50px !important;}
.zoom-mylocation {display:none;}
.zoom-mylocation a{ text-align: center;float: left; width: 36px;height: 36px;border: 1px solid black; background:#F8F8FF; border-radius: 100%;margin-right: 7px; /*space between*/} 
.zoom-mylocation a i{font-size: 30px;line-height: 34px;color: #292421;}
.zoom-mylocation  a :hover{color: #8DB600;}
.mobileCompressZoom{display:none};


.controls {
    padding: 6px;
    z-index: 105;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 50% outline: none;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}



.ccccc {
    margin-left: 1px;
    padding-top: 13px;padding-bottom: 13px;
    border-bottom: 1px solid #80804c;
}


.subfold_who { padding: 20px 100px 12px 2px }
.subfold_where{padding: 20px 110px 12px 2px;}
.subfold_active {padding: 20px  35px 12px 2px;}
.subfold_give {padding: 20px 45px 12px 2px;}

.subfold-login {padding: 30px 160px 30px 2px;}
.subfold-logout {padding: 30px 147px 30px 2px;}

.subfold-showup {color: white; padding: 35px 45px 57px 5px;}
.mypages{padding: 10px 125px 10px 20px;margin-left:0px !important;}
.addfunds{padding: 30px 165px 30px 20px;margin-left:0px !important;}
.reservation{padding: 30px 120px 30px 20px;margin-left:0px !important;}
.account-history{padding: 30px 160px 30px 20px;margin-left:0px !important;}

.subfold-fb {   margin-left:-50px !important; padding: 30px 40px 30px 70px !important}
.subfold-eb {   margin-left:-50px !important; padding: 30px 32px 30px 70px;}
.subfold-meetup{margin-left:-50px !important; padding: 30px 68px 30px 70px;}
.subfold-yelp { margin-left:-50px !important; padding: 30px 112px 30px 70px;}


.rightMargin35 { margin-right: 35px }
.topMargin15 { margin-top: 15px }
.fontSize20 {color: black; font-size: 20px }




body > .container-fluid:first-child { height: auto !important;z-index:99 !important; }
.mnavaa {overflow-y: scroll; z-index: 9999; height: calc(100% - 90px); width: 100%; /*max-height: 100%;*/ overflow-y: auto; overflow-x: visible;  background:#fff !important; }
.menu-shadow{margin-left:-5px; background:#fff !important;
    -webkit-box-shadow: -5px 0 5px -5px black, 5px 0 5px -5px black !important;
   -moz-box-shadow:-5px 0 5px -5px black, 5px 0 5px -5px black !important;
  box-shadow:-5px 0 5px -5px black, 5px 0 5px -5px black !important;
}


span.mainlistz { max-height: 1200px; display: block; overflow: auto; }
span.mainlistz li:last-child a { margin: 0 auto; padding-right: 0; }
img.sidebar_logo { max-width: 90px; }

* {
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color: #7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: #568203;
}


.panel-body {font-size: 16px; padding: 20px 5px 20px 5px; border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);}
.pac-input {border: 2px solid #878681; /*left: 73px !important; top: 120px !important;*/ }

#radius-input { position: absolute; top: 20px !important; width: 297px; margin-left: 200px; z-index: 99999; background: #568203;  display: none }
#radiusValue {width: 147px; }
#region-suburb1 {position: absolute; left: 245px !important; top: 70px !important; width: 120px; z-index: 39; border: 2px solid #878681; }
#close-radius {position: absolute; left: 310px !important; top: 105px !important; width: 180px; z-index: 39; border: 2px solid #878681; }

#enter-nextSearch {position: absolute; top: 65px; margin-left: 530px; padding-top: 3px; float:right; cursor: pointer; z-index: 1; color: #568203; }
#enter-nextSearch:hover {color: #355427; }

#region-suburb1 { display:none;visibility:hidden;} 
#enter-nextSearch{ margin-top: 45px; left: 131px !important;}
.yyyy:hover #enter-nextSearch{left: 200px !important;}
#radius-input {top:70px !important; margin-left: -72px;}

span#postNextEvent {left: 200px;}

/*@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");*/
.container-search {overflow: hidden; width: 100%; vertical-align: middle; white-space: nowrap; }

/*Below the input doesn’t have the transition because it’s not the element being affected this time around.*/
.container-search input#search {width: 100%; height: 40px; float: left; padding-left: 15px; padding-right: 50px; background: #414F12; border: none; font-size: 12pt; }

/*The snippet to recolor the placeholders*/
.container-search input#search::-webkit-input-placeholder {color: #FFA;}
.container-search input#search:-moz-placeholder { /* Firefox 18- */ color: #FFA; }
.container-search input#search::-moz-placeholder { /* Firefox 19+ */ color: #FFA; }
.container-search input#search:-ms-input-placeholder { color: #FFA; }

/*the code to style the button that appears on hover.*/
.container-search i.icona {
    -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-topright: 5px; moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px; border-bottom-right-radius: 5px;  
    height: 40px; width: 50px;border: none; background: #568203; color: #4f5b66; opacity: 0; font-size: 10pt;
    -webkit-transition: all .55s ease; -moz-transition: all .55s ease; -ms-transition: all .55s ease; -o-transition: all .55s ease; transition: all .55s ease;
}

/*Adding the Hover Effects*/
.container-search:hover i.icona, .container-search:active i.icona, .container-search:focus i.icona {outline: none; opacity: 1; margin-left: -50px; cursor: pointer; }
.container-search:hover i.icona:hover { background: #003300; }

input[type="checkbox"] {display: none;}
input[type="checkbox"], input[type="radio"] {vertical-align: middle;}
input[type="checkbox"] + label, input[type="radio"] + label { cursor: pointer; }

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {content: ""; display: inline-block; height: 19px; width: 19px; margin: 1px 4px 0 -22px; vertical-align: middle;  }

input[type="checkbox"] + label:before {background: url(http://d3pr5r64n04s3o.cloudfront.net/tuts/391_checkboxes/check_radio_sheet.png)left top no-repeat;}
input[type="checkbox"]:checked + label:before {background: url(http://d3pr5r64n04s3o.cloudfront.net/tuts/391_checkboxes/check_radio_sheet.png)-19px top no-repeat;}
input[type="radio"] + label:before {background: url(http://d3pr5r64n04s3o.cloudfront.net/tuts/391_checkboxes/check_radio_sheet.png)-38px top no-repeat;}
input[type="radio"]:checked + label:before {background: url(http://d3pr5r64n04s3o.cloudfront.net/tuts/391_checkboxes/check_radio_sheet.png)-57px top no-repeat;}

.btn-route {height: 40px !important; width: 48px !important;padding: 10px !important;
    border-top-left-radius: 0px; border-top-right-radius: 0px; background: #fff; color: #568203; border-color: #568203;
}
.btn-route:hover {background-color: #e0e0e0;}
.rotate_90deg {padding: 5px; color: black; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg);}

.route-input1 {
    height: 35px !important; width: 212px !important; margin-left: -48px !important;
    padding-left: 60px; padding-right: 10px; padding-bottom: 4px; background: #fff;
}

.route-input2 {
    height: 35px !important; width: 212px !important; margin-left: -48px !important;
    padding-left: 40px; padding-right: 10px; padding-bottom: 4px; background: #fff;
}

.fromTo {
    height: 35px !important; width: 10px !important; margin-left: -1px !important;
    padding-left: 10px; padding-right: 10px; padding-bottom: 4px;
}

.leftMargin4 { margin-left: 4px !important; }
.leftMargin52 { margin-left: 52px !important; }
.leftMargin100 { margin-left: 100px !important; }
.leftMargin148 { margin-left: 148px !important; }
.leftMargin196 { margin-left: 196px !important; }

.topMargin-165 { margin-top: -165px; }
.topMargin-130 { margin-top: -130px; }
.topMargin-95 { margin-top: -95px; }
.topMargin-60 { margin-top: -60px; }
.topMargin-20 { margin-top: -20px; }
.topMargin-53 { margin-top: -27px }
.topMargin-2 { margin-top: -2px;}
.topMargin8 {margin-top: 8px !important;}

.floatLeft {float: left;}
.leftMargin40{margin-left:40px !important}
.leftMargin-2 {margin-left: -2px;}
.leftMargin-5 {margin-left: -5px;}
.leftMargin4 {margin-left: 4px;}
.leftMargin52 {margin-left: 52px}

.hidexflow {overflow: hidden !important;}
.fontSize18 {font-size: 18px !important;}
.gray-color {color: #333333 !important}
.postEvent-popup {float: left; margin-top: -10px; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 11px; background-color: #568203; color: #FFF; font-size: 25px; }
.post2Event_popup{ float: center; position: fixed; background-color: #FFF; border: 2px solid #568203; border-radius: 3px; background-position: left -3px top -3px; width: 280px; height: 50px; z-index: 11; padding-top: 10px; padding-bottom: 10px; font-size: 25px; }


